<%- include("header"); %>

<div class="about-container">
    <h1 class="about-title">About MoveOut</h1>
    <p class="about">MoveOut helps you move easy and organized. Create boxes, label them with QR codes, and keep track of what’s inside without the hassle.</p>
</div>