<%- include("header"); %>

<title>My Profile</title>

<container class="user-box">
    <!-- Delete Account Box -->
    <div class="user-box-stuff">
        <h2>Delete your account</h2>
        <a class="user-box-stuff-link" href="/delete/<%= user %>">Click here to delete your account</a>
    </div>
</container>
